<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="shortcut icon" href="/image/logo.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>


    <p class="title">欢迎您，
        <span id="showUserInfo"></span>
    </p>

    <div class="mc"></div>

    <div class="alert">

        <table>
            <tr>
                <td> 用户名： </td>
                <td>
                    <input maxlength="20" id="name" type="text">
                </td>
            </tr>
            <tr>
                <td> 密码： </td>
                <td>
                    <input maxlength="20" id="passwd" type="text">
                </td>
            </tr>
        </table>

        <button class="sure" id="login">确定</button>

    </div>

    <div class="panel">
        <div class="show" id="show">
            <div class="list other">
                <label>fdafa:</label>
                <pre>范德萨发生</pre>
            </div>
            <div class="list my">
                <pre>范德萨发生</pre>
            </div>
        </div>

        <div class="bar">
            <textarea type="text" id="message"> </textarea>
            <button id="submit">submit</button>
        </div>

    </div>

    <script src="js/jquery3.2.1.js"></script>
    <script src="js/socket.io.js"></script>
    <script src="js/mysocket.js"></script>
</body>

</html>